priority -50

snippet rdb "remote debugger for celery"
from celery.contrib import rdb; rdb.set_trace()
endsnippet

snippet djmh "django module header"
# -*- coding: utf-8 -*-
from __future__ import unicode_literals
endsnippet
